<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexara your french crack site || v2.0.exe</title>
    <meta name="theme-color" content="#111">
    <meta name="keywords" content="Nexara, Crack, logiciel, jeux, Arizaki, Site de crack, français">
    <meta name="author" content="Arizaki.xyz">
    <meta property="og:title" content="Nexara - Votre site de crack">
    <meta property="og:description" content="Trouvez vos jeux et logiciels fait maison.">
    <meta property="og:image" content="./images/app/nexara.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/headermain.css">
    <script src="./js/burgermenu.js"></script>
</head>
<body>
    <div id="particles-js"></div>
    <header>
        <div class="container-header">
            <h1>Nexara</h1>
            <button class="nav-toggle">
                <span class="burger-icon1"></span>
                <span class="burger-icon2"></span>
            </button>
            <nav>
                <ul class="nav-list">
                    <li><a href="index.ejs">Accueil</a></li>
                    <li><a href="apps.ejs">Apps</a></li>
                    <li><a href="games.ejs">Jeux</a></li>
                    <li><a href="Nexara.ejs">Notre équipe</a></li>
                    <li><a href="soutiens.ejs" class="highlight">Nous soutenir</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    
    <!--<div id="banner" class="banner">
        <span>Profitez de <strong>10% de réduction</strong> avec le code <strong>NEXARA</strong> sur <a href="https://textore.sellsn.io/" style="color:rgb(0, 0, 0); text-decoration:none">Textore</a> !</span>
        <button id="close-banner" class="close-button">&times;</button>
    </div>
    <script>
        document.getElementById("close-banner").addEventListener("click", function() {
            document.getElementById("banner").classList.add("hidden");
        });
    </script> -->

    
    
    <section id="home" class="hero">
        <div class="container">
            <img src="./images/nexara.jpg" alt="Nexara Logo" class="rounded-image">
            <div class="hero-content">
                <section id="update-notification" class="notification hidden">
                    <div class="container">
                        <p>Une nouvelle mise à jour est disponible !</p>
                        <a id="update-link" href="#" class="cta-button">Télécharger la mise à jour</a>
                    </div>
                </section>
                <h2>Bienvenue sur Nexara v2.0 !</h2>
                <p>Votre plateforme de crack francophone !</p>                
                <a href="apps.ejs" class="cta-button">Découvrir</a>
            </div>
        </div>
    </section>


    <button class="assistant-button" id="open-assistant">Ouvrir l'assistant</button>
        <img src="./images/assistant.jpg" alt="Assistant" class="assistant-image">
        <span class="assistant-text">Assistant</span>
    </button>
    
    <section id="about" class="section about">
        <div class="container">
            <h2>Notre mission</h2>
            <div class="mission-details">
                <div class="mission-point">
                    <h3>La sécurité avant tout !</h3>
                    <p>Nous sommes spécialisés dans ce domaine depuis plusieurs années. Nous proposons des solutions totalement sécurisées et fonctionnelles.</p>
                </div>
                <div class="mission-point">
                    <h3>Gratuit pour tout le monde !</h3>
                    <p>Dans un monde où l'argent prime, nous nous engageons à aider les personnes du mieux que nous le pouvons.</p>
                </div>
                <div class="mission-point">
                    <h3>Accessibilité</h3>
                    <p>Notre plateforme a été construite afin de vous faciliter l'accès et l'utilisation.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact" class="section contact">
        <div class="container">
            <h2>Discord</h2>
            <a href="https://discord.gg/E5SuAxNwbh" class="discord cta-button" style="background-color:blue ;">Rejoignez notre Discord</a>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Nexara. Tous droits réservés.</p>
            <p>Suivez-nous sur :</p>
            <div class="social-icons">
                <a href="https://discord.gg/E5SuAxNwbh"><img src="images/svg/discord.svg" alt="Discord"></a>
                <a href="https://www.tiktok.com/@nexara.crack"><img src="images/svg/tiktok.svg" alt="TikTok"></a>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./js/assistant.js"></script>
    <script src="./js/home.js"></script>
</body>
</html>
