<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexara your french crack site || v2.0.exe</title>
    <meta name="theme-color" content="#111">
    <meta property="og:title" content="Nexara - Votre site de crack">
    <meta property="og:description" content="Découvrez notre équipe.">
    <meta property="og:image" content="./images/app/nexara.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="./css/nexara.css">
    <link rel="stylesheet" href="./css/header.css">
    <script src="./js/burgermenu.js"></script>
</head>
<body>
    <div id="particles-js"></div>
    <header>
        <div class="container-header">
            <h1>Nexara</h1>
            <button class="nav-toggle">
                <span class="burger-icon"></span>
            </button>
            <nav>
                <ul class="nav-list">
                    <li><a href="index.ejs">Accueil</a></li>
                    <li><a href="apps.ejs">Apps</a></li>
                    <li><a href="games.ejs">Jeux</a></li>
                    <li><a href="Nexara.ejs">Notre équipe</a></li>
                    <li><a href="soutiens.ejs" class="highlight">Nous soutenir</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section id="team" class="section">
        <div class="container">
            <h2>Notre équipe</h2>
            <div class="team-grid">
                <div class="team-member">
                    <div class="profile-pic-wrapper">
                        <img class="team-pic" src="./images/Arizaki.jpg" alt="Arizaki">
                        <img class="overlay" src="./images/overlay.png" alt="overlay">
                    </div>
                    <h3>Arizaki.xyz</h3>
                    <p>Fondateur || crackeur</p>
                    <p>Fondateur du site, développeur à temps perdu je m'engage dans la gratuité et la liberté de créations.
                    </p>
                </div>
                <div class="team-member">
                    <div class="profile-pic-wrapper">
                        <img class="team-pic" src="./images/Zeyfox.jpg" alt="Zeyfox">
                        <img class="overlay" src="./images/overlay3.png" alt="overlay">
                </div>
                    <h3>ZeyFox</h3>
                    <p>Co-Fondateur v2 || Développeur</p>
                    <p>Développeur web et membre de la scène ps3 avec son store <a href="https://zeyfox-store-dl.netlify.app" class="Lien">ZeyFox Store</a>.</p>
                </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', 'particles.json', function() {
            console.log('particles.json loaded...');
        });
    </script>
</body>
</html>
